* {
  /* border: 1px solid black; */
  padding: 0;
  margin: 0;
}

:root {
  --placeholder-font-color: hsl(236, 9%, 61%);
  --list-font-color: hsl(235, 19%, 35%);
  --list-bg-color: white;
  --bg-color: hsl(0, 0%, 98%);
  --muted-color: hsl(233, 11%, 84%);
  --bg-image: url(images/bg-mobile-light.jpg);
  --Josefin-Sans: "Josefin Sans", sans-serif;
}

.dark-theme {
  --placeholder-font-color: hsl(234, 11%, 52%);
  --list-font-color: hsl(234, 39%, 85%);
  --list-bg-color: hsl(235, 24%, 19%);
  --bg-color: hsl(235, 21%, 11%);
  --muted-color: hsl(233, 14%, 35%);
  --bg-image: url(images/bg-mobile-dark.jpg);
}

html,
body {
  box-sizing: border-box;
}

body {
  font-family: var(--Josefin-Sans);
  width: 375px;
  margin: auto;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  background-image: var(--bg-image);
  letter-spacing: 0.5rem;
  width: 375px;
  height: 200px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 85%;
  height: 60%;
}

.header-content-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content-title h1 {
  font-size: 1.85rem;
  font-weight: 400;
  margin-top: 5px;
}

.header-content-title .toggle-theme {
  width: 23px;
  height: 23px;
}

input {
  border-radius: 5px;
  padding: 15px;
  border: none;
  background-color: var(--list-bg-color);
  color: var(--list-font-color);
}

input::placeholder {
  color: var(--placeholder-font-color);
}

input:focus-visible {
  outline: none;
}

main {
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.main-content {
  display: none;
  flex-direction: column;
  width: 85%;
}

.main-error-modal {
  display: none;
  justify-content: center;
  align-items: center;
  color: var(--list-font-color);
}

.main-list-container {
  position: relative;
  top: -25px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: var(--list-bg-color);
}

.main-list {
  list-style-type: none;
  max-height: 360px;
  overflow-y: auto;
}

.main-list-item {
  color: var(--list-font-color);
  padding: 15px 15px 15px 0;
  position: relative;
  display: grid;
  grid-template-columns: auto auto 1fr auto;
  gap: 15px;
  align-items: center;
  border-bottom: 0.5px solid var(--muted-color);
}

.main-list :last-child {
  border-bottom: none;
}

.main-list-item .hidden-checkbox {
  visibility: hidden;
  width: 0;
  height: 0;
}

.main-list-item .checkbox {
  position: relative;
  width: 20px;
  height: 20px;
  border: 1px solid var(--muted-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-list-item .checkbox:hover {
  background: linear-gradient(
    to bottom right,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
  cursor: pointer;
}

.main-list-item .checkbox:hover::after {
  content: "";
  position: relative;
  top: 0px;
  left: 0px;
  border: none;
  width: 18px;
  height: 18px;
  background: white;
  z-index: 1;
  border-radius: inherit;
}

.main-list-item .checkbox.complete {
  background-image: linear-gradient(
    to bottom right,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
}

.main-list-item .checkbox.complete:hover::after {
  content: none;
}

.main-list-item .item {
  margin-top: 3px;
}

.main-list-item .item.crossed-out {
  text-decoration: line-through;
  color: var(--muted-color);
}

.main-list-item .item:hover {
  cursor: grab;
}

.main-list-item .delete-icon {
  fill: var(--muted-color);
  width: 15px;
  height: 15px;
}

.main-list-item .delete-icon:hover {
  cursor: pointer;
  fill: var(--list-font-color);
}

.main-list-footer {
  display: none;
  color: var(--list-font-color);
  height: 52.2px;
  justify-content: space-between;
  align-items: center;
  color: var(--muted-color);
  font-size: 0.75rem;
  padding: 0 15px;
  border-top: 0.5px solid var(--muted-color);
}

.main-list-footer button.clear-completed {
  background: none;
  border: none;
  color: var(--muted-color);
  font-family: var(--Josefin-Sans);
  font-size: 0.75rem;
}

.main-list-footer button.clear-completed:hover {
  cursor: pointer;
  color: var(--list-font-color);
}

.main-view-states {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: var(--list-bg-color);
  padding: 15px;
}

.main-view-states button.state {
  background: none;
  border: none;
  font-size: 1rem;
  font-family: var(--Josefin-Sans);
  color: var(--placeholder-font-color);
}

.main-view-states button.state:hover {
  color: var(--list-font-color);
  cursor: pointer;
}

.main-view-states button.state:focus,
.main-view-states button.state:focus:hover {
  color: hsl(220, 98%, 61%);
}

.main-reorder-instructions {
  margin: auto;
  color: var(--muted-color);
  margin-top: 40px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  background-color: var(--bg-color);
  color: var(--placeholder-font-color);
  padding: 5px 0;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
